@import url('https://cdn.mobirise.com/mobirise-icons/mobirise-icons.css');
@import "tailwindcss";

:root {
  --background: #F8FAFD;
  --foreground: #F8FAFD;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F8FAFD;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito), sans-serif;
}

/* Correct example */
.text-[amber-50] {
  color: var(--color-amber-50);
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}
.animate-float {
  animation: float 4s ease-in-out infinite;
}